<div class="cotainer">
		<div class="panel panel-primary">
  			<div class="panel-heading"><h1>Edição de cadastro</h1></div>
  			<div class="panel-body">
   				 <%= render 'form' %>
 		 </div>
	</div>	
